body{
    text-align: center;
    margin: 0 auto;
    background-image: url("https://media.istockphoto.com/id/1253430957/photo/professional-developer-programmer-cooperation-meeting-and-brainstorming-and-programming-in.jpg?s=2048x2048&w=is&k=20&c=aieOSrNdkfo5Z4ZdiwlyaUyGaJKkyU1tNdg5-E66Wr0=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 150vh;
    background-attachment: fixed;
    font-weight: 700;
    font-size: 20px;
    font-family: cursive;
   
}
p a{
    color: #ff0000;
    text-decoration: none;
}
.animate__animated.animate__backInLeft {
    --animate-duration: 1.9s;
}